.heroContainer {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1120px;
  height: calc(100vh - 5rem);
}

section.heroContent {
  padding: 4rem 0;

  h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  span {
    font-weight: bold;
    color: #61dcfb;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  button {
    margin-top: 1.5rem;
  }
}
